:root {
  --light-bg: #f4f7fa;
  --light-text: #333;
  --light-label: #555;
  --light-form-bg: white;
  --light-link: #747474;

  --dark-bg: #2b2b2b;
  --dark-text: #f4f7fa;
  --dark-label: #e0e0e0;
  --dark-form-bg: #555;
  --dark-link: #e0e0e0;

  --primary-button: #007bff;
  --primary-button-hover: #0056b3;
  --secondary-button: #888887;
  --secondary-button-hover: #5f5f5f;
  --input-border: #ccc;
  --input-focus-border: #007bff;
  --kbd-bg: #eee;
  --kbd-border: #b4b4b4;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s ease;
}

form.success {
  background-color: rgba(159, 255, 138, 0.5);
  transition: background-color 0.3s ease;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 0;
}

legend {
  text-align: center;
}

label {
  transition: color 0.3s ease;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"] {
  background-color: var(--primary-button);
}

button[type="submit"]:hover {
  background-color: var(--primary-button-hover);
}

button[type="reset"] {
  background-color: var(--secondary-button);
}

button[type="reset"]:hover {
  background-color: var(--secondary-button-hover);
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--input-focus-border);
}

kbd {
  background-color: var(--kbd-bg);
  border-radius: 3px;
  border: 1px solid var(--kbd-border);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

a img {
  margin-right: 0.1em;
}

#help {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--light-text);
  }

  form {
    background: var(--light-form-bg);
  }

  label {
    color: var(--light-label);
  }

  #help {
    background: var(--light-form-bg);
  }

  a {
    color: var(--light-link);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }

  form {
    background: var(--dark-form-bg);
  }

  label {
    color: var(--dark-label);
  }

  #help {
    background: var(--dark-form-bg);
    color: var(--dark-label);
  }

  a {
    color: var(--dark-link);
  }
}
